<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome to the Page</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <div class="welcome-container">
            <h1>Dự đoán bệnh nhân vắng mặt</h1>
            <button
                class="welcome-button button-one"
                onclick="location.href='khambenh1nguoi.html'"
            >
                Dành cho 1 người
            </button>
            <button
                class="welcome-button button-multiple"
                onclick="location.href='khambenhnhieunguoi.html'"
            >
                Dành cho nhiều người
            </button>
        </div>
    </body>
</html>
